vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Aug 2014 09:30:42 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|Dineo-PC\\Dineo
vti_modifiedby:SR|Dineo-PC\\Dineo
vti_timecreated:TR|25 Aug 2014 09:30:42 -0000
vti_cacheddtm:TX|25 Aug 2014 09:30:42 -0000
vti_filesize:IR|4413
vti_cachedlinkinfo:VX|S|../images/close.png S|../images/loading.gif S|../images/prev.png S|../images/next.png S|../images/loading.gif S|../images/prev.png S|../images/next.png S|../images/close.png
vti_cachedsvcrellinks:VX|FSUS|images/close.png FSUS|images/loading.gif FSUS|images/prev.png FSUS|images/next.png FSUS|images/loading.gif FSUS|images/prev.png FSUS|images/next.png FSUS|images/close.png
vti_backlinkinfo:VX|master1.dwt gallery.html
