vti_encoding:SR|utf8-nl
vti_author:SR|Dineo-PC\\Dineo
vti_modifiedby:SR|MAHOMA\\makonoto
vti_timelastmodified:TR|15 Oct 2015 03:57:42 -0000
vti_timecreated:TR|05 Oct 2015 18:34:22 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|rates.html bookingenquiries.html contactus.html links/default.html photo_gallery/default.html master.dwt thingstodo.html Gallery.html home.html about_me/default.html facilities.html Aboutus&services.html contact/default.html resume/default.html default.html accomodation.html master2.dwt
vti_nexttolasttimemodified:TW|14 Oct 2015 18:56:56 -0000
vti_cacheddtm:TX|15 Oct 2015 03:57:42 -0000
vti_filesize:IR|2827
vti_cachedlinkinfo:VX|Q|layout.css S|../images/sand.jpg S|../images/header.png
vti_cachedsvcrellinks:VX|FQUS|styles/layout.css FSUS|images/sand.jpg FSUS|images/header.png
